/* ================================ */
/*          Global Style            */
/* ================================ */

:root {
  /* Color */
  --green-lighter-color: hsl(148, 38%, 91%);
  --green-medium-color: hsl(169, 82%, 27%);
  --red-color: hsl(0, 66%, 54%);
  --red-lighter-color: hsl(0, 66%, 85%);
  --gray-medium-color: hsl(186, 15%, 59%);
  --gray-darker-color: hsl(187, 24%, 22%);
  --white-color: hsl(0, 0%, 100%);
}

/* Font */
@font-face {
  font-family: "Karla";
  src: url("assets/fonts/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Karla-italic";
  src: url("assets/fonts/Karla-Italic-VariableFont_wght.ttf");
}

/* ================================ */
/*          Reset & Global          */
/* ================================ */

* {
  margin: 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--green-lighter-color);
  font-family: "Karla", sans-serif;
  color: var(--gray-darker-color);
  position: relative;
}

/* ================================ */
/*              Layout              */
/* ================================ */

.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 450px;
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 20px 30px;
  order: 2;
  z-index: 1;
}

section {
  margin: 7px 0px;
}

label {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.success {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 100px;
  padding: 15px;
  background-color: rgb(0, 0, 0, 0.9);
  border-radius: 10px;
  color: var(--white-color);
  line-height: 30px;
  order: 1;
  opacity: 30%;
  transition: transform 0.3s linear, opacity 0.3s ease-in-out;
  
}

.success p:last-child {
  font-size: 0.8rem;
  line-height: 15px;
  margin-top: 7px;
}

.success strong {
  padding-left: 10px;
}

.desplazar {
  transform: translateY(-250px);
  opacity: 100%;
  z-index: 2;
}


/* ================================ */
/*       two column                 */
/* ================================ */

.column_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column_2--tamano {
  max-width: 48%;
  min-width: 48%;
}

.column_2--tamano input[type="text"] {
  width: 100%;
}

.column_1 {
  display: flex;
  flex-direction: column;
}

/* ================================ */
/*   inputs, hover and focus        */
/* ================================ */

input,
textarea,
.box {
  border: 1px solid var(--gray-medium-color);
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
  font-family: "Karla", sans-serif;
}

input:hover,
input[type="radio"]+label:hover,
textarea:hover,
.box:hover,
button:hover {
  cursor: pointer;
  border-color: var(--gray-darker-color);
}

input:focus,
textarea:focus,
.box:focus {
  background-color: var(--green-lighter-color);
  border: 2px solid var(--green-medium-color);
  outline: none;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  padding-top: 5px;
}

/* ================================ */
/*          Espificos               */
/* ================================ */

.error {
  display: none;
  color: var(--red-color);
  font-size: 0.8rem;
}

.errorFocus {
  background-color: var(--red-lighter-color);
  border: 2px solid var(--red-color);
  outline: none;
}

.centrado {
  display: flex;
  align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0px 5px;
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.btn button {
  height: 100%;
  width: 100%;
  margin: 0px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray-medium-color);
  color: var(--white-color);
  letter-spacing: 0.9px;
}

/* ================================ */
/*         Movile Layout            */
/* ================================ */

@media (max-width: 500px) {
  .container {
    width: 345px;
    min-width: 345px;
  }

  .column_2 {
    flex-direction: column;
  }

  .column_2--tamano {
    max-width: 100%;
    margin: 5px 0px 5px 0px;
  }
}
